<a href="https://colab.research.google.com/github/alishahmad/cove/blob/master/Free%20Class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
print("Hello World")
print (5)
print (5.5)
city= "Johor"
city="Kuala Lumpur"
print(city)

Hello World
5
5.5
Kuala Lumpur

In [8]:
my_fav_number = 369
print(my_fav_number)

369

963

In [9]:
thenumber=my_fav_number+2
print(thenumber)

371

In [12]:
kampung="Muar"
nomborkolej = 3
print("my kampung is :",kampung, "kat situ ada", nomborkolej, "kolej")

my kampung is : Muar kat situ ada 3 kolej

In [13]:
nama= input("Masukkan Nama Anda:")
print(nama)

Masukkan Nama Anda:Alish
Alish

In [14]:
number1 = 5
number2 = 5.5
print(type(number1))

a= float (number1)
print(type(a))

print(type(number2))

b= int (number2)
print(type(b))

<class 'int'>
<class 'float'>
<class 'float'>
<class 'int'>

In [15]:
#apakah
''' multiline
coment'''

In [19]:
x=5
result = x/10
print(result)

0.5

In [20]:
str1="Meow"
str2="eeow"
print(str1 + str2)

Meoweeow

In [21]:
x=5
x+=10
print(x)

15

In [24]:
result1= True
result2= False
print(result1 and result2)
print(result1 or result2)

False
True

In [26]:
number=10
print(number<10)
print(number>=10)
print(number>10)

False
True
False

In [28]:
age = 37
gpa = 3.8
result = age>- 18 and gpa>3.9
print (result)

False

In [36]:
#score = int(input("Enter your Score":))
score=int(input("Enter your Score:"))

if score >= 50:
  print ("you passes you exam")
  print("Congratulation")
if score < 50:
  print("Lah tak pass")
  print("Cube la lagi")

Enter your Score:20
Lah tak pass
Cube la lagi

In [38]:
#score = int(input("Enter your Score":))
score=int(input("Enter your Score:"))

if score >= 50 and score <=100:
  print ("you passes you exam")
  print("Congratulation")
elif score<0:
  print("Invalid Score")
elif score>100:
  print("Invalid Score")

if score < 50:
  print("Lah tak pass")
  print("Cube la lagi")

Enter your Score:100
you passes you exam
Congratulation

In [42]:
number = int(input ("Enter The Number:"))
if number > 0:
  print ("The number is positive")
elif number < 0:
  print ("The number is negative")
else:
  print ("The number is zero")

Enter The Number:5
The number is positive

In [43]:
text = "Phyton"
for character in text :
  print (character)

P
h
y
t
o
n

In [50]:
number = int (input ("Enter an integer:" ))

for count in range (1, 11):
  product = number * count
  print (number, "x", count, "=", product)

Enter an integer:10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [51]:
total_sum = sum (range (1,101))
print ("Total Sum is", total_sum)

Total Sum is 5050

In [58]:
total_sum=0
for number in range(1,101):
  total_sum+=number
  print(f"Total Sum of the {number} number fom 1 to {number}is : {total_sum} ")

Total Sum of the 1 number fom 1 to 1is : 1
Total Sum of the 2 number fom 1 to 2is : 3
Total Sum of the 3 number fom 1 to 3is : 6
Total Sum of the 4 number fom 1 to 4is : 10
Total Sum of the 5 number fom 1 to 5is : 15
Total Sum of the 6 number fom 1 to 6is : 21
Total Sum of the 7 number fom 1 to 7is : 28
Total Sum of the 8 number fom 1 to 8is : 36
Total Sum of the 9 number fom 1 to 9is : 45
Total Sum of the 10 number fom 1 to 10is : 55
Total Sum of the 11 number fom 1 to 11is : 66
Total Sum of the 12 number fom 1 to 12is : 78
Total Sum of the 13 number fom 1 to 13is : 91
Total Sum of the 14 number fom 1 to 14is : 105
Total Sum of the 15 number fom 1 to 15is : 120
Total Sum of the 16 number fom 1 to 16is : 136
Total Sum of the 17 number fom 1 to 17is : 153
Total Sum of the 18 number fom 1 to 18is : 171
Total Sum of the 19 number fom 1 to 19is : 190
Total Sum of the 20 number fom 1 to 20is : 210
Total Sum of the 21 number fom 1 to 21is : 231
Total Sum of the 22 number fom 1 to 22is : 253
Total Sum of the 23 number fom 1 to 23is : 276
Total Sum of the 24 number fom 1 to 24is : 300
Total Sum of the 25 number fom 1 to 25is : 325
Total Sum of the 26 number fom 1 to 26is : 351
Total Sum of the 27 number fom 1 to 27is : 378
Total Sum of the 28 number fom 1 to 28is : 406
Total Sum of the 29 number fom 1 to 29is : 435
Total Sum of the 30 number fom 1 to 30is : 465
Total Sum of the 31 number fom 1 to 31is : 496
Total Sum of the 32 number fom 1 to 32is : 528
Total Sum of the 33 number fom 1 to 33is : 561
Total Sum of the 34 number fom 1 to 34is : 595
Total Sum of the 35 number fom 1 to 35is : 630
Total Sum of the 36 number fom 1 to 36is : 666
Total Sum of the 37 number fom 1 to 37is : 703
Total Sum of the 38 number fom 1 to 38is : 741
Total Sum of the 39 number fom 1 to 39is : 780
Total Sum of the 40 number fom 1 to 40is : 820
Total Sum of the 41 number fom 1 to 41is : 861
Total Sum of the 42 number fom 1 to 42is : 903
Total Sum of the 43 number fom 1 to 43is : 946
Total Sum of the 44 number fom 1 to 44is : 990
Total Sum of the 45 number fom 1 to 45is : 1035
Total Sum of the 46 number fom 1 to 46is : 1081
Total Sum of the 47 number fom 1 to 47is : 1128
Total Sum of the 48 number fom 1 to 48is : 1176
Total Sum of the 49 number fom 1 to 49is : 1225
Total Sum of the 50 number fom 1 to 50is : 1275
Total Sum of the 51 number fom 1 to 51is : 1326
Total Sum of the 52 number fom 1 to 52is : 1378
Total Sum of the 53 number fom 1 to 53is : 1431
Total Sum of the 54 number fom 1 to 54is : 1485
Total Sum of the 55 number fom 1 to 55is : 1540
Total Sum of the 56 number fom 1 to 56is : 1596
Total Sum of the 57 number fom 1 to 57is : 1653
Total Sum of the 58 number fom 1 to 58is : 1711
Total Sum of the 59 number fom 1 to 59is : 1770
Total Sum of the 60 number fom 1 to 60is : 1830
Total Sum of the 61 number fom 1 to 61is : 1891
Total Sum of the 62 number fom 1 to 62is : 1953
Total Sum of the 63 number fom 1 to 63is : 2016
Total Sum of the 64 number fom 1 to 64is : 2080
Total Sum of the 65 number fom 1 to 65is : 2145
Total Sum of the 66 number fom 1 to 66is : 2211
Total Sum of the 67 number fom 1 to 67is : 2278
Total Sum of the 68 number fom 1 to 68is : 2346
Total Sum of the 69 number fom 1 to 69is : 2415
Total Sum of the 70 number fom 1 to 70is : 2485
Total Sum of the 71 number fom 1 to 71is : 2556
Total Sum of the 72 number fom 1 to 72is : 2628
Total Sum of the 73 number fom 1 to 73is : 2701
Total Sum of the 74 number fom 1 to 74is : 2775
Total Sum of the 75 number fom 1 to 75is : 2850
Total Sum of the 76 number fom 1 to 76is : 2926
Total Sum of the 77 number fom 1 to 77is : 3003
Total Sum of the 78 number fom 1 to 78is : 3081
Total Sum of the 79 number fom 1 to 79is : 3160
Total Sum of the 80 number fom 1 to 80is : 3240
Total Sum of the 81 number fom 1 to 81is : 3321
Total Sum of the 82 number fom 1 to 82is : 3403
Total Sum of the 83 number fom 1 to 83is : 3486
Total Sum of the 84 number fom 1 to 84is : 3570
Total Sum of the 85 number fom 1 to 85is : 3655
Total Sum of the 86 number fom 1 to 86is : 3741
Total Sum of the 87 number fom 1 to 87is : 3828
Total Sum of the 88 number fom 1 to 88is : 3916
Total Sum of the 89 number fom 1 to 89is : 4005
Total Sum of the 90 number fom 1 to 90is : 4095
Total Sum of the 91 number fom 1 to 91is : 4186
Total Sum of the 92 number fom 1 to 92is : 4278
Total Sum of the 93 number fom 1 to 93is : 4371
Total Sum of the 94 number fom 1 to 94is : 4465
Total Sum of the 95 number fom 1 to 95is : 4560
Total Sum of the 96 number fom 1 to 96is : 4656
Total Sum of the 97 number fom 1 to 97is : 4753
Total Sum of the 98 number fom 1 to 98is : 4851
Total Sum of the 99 number fom 1 to 99is : 4950
Total Sum of the 100 number fom 1 to 100is : 5050

In [62]:
count = 0
while count <5:
  print ("I am inside loop")
  print ("Count is", count)
  count+=1
print ("I am outside loop")

I am inside loop
Count is 0
I am inside loop
Count is 1
I am inside loop
Count is 2
I am inside loop
Count is 3
I am inside loop
Count is 4
I am outside loop